package main

templ about(meta map[string]string, workExperience []ExperienceEntry, schoolExperience []ExperienceEntry) {
	@header("Adrien's blog", meta)
	<body>
		@navbar()
		<div class="body-main">
			@resume(workExperience, schoolExperience)
		</div>
		@footer()
	</body>
}
