footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
}

footer .footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-contacts {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  gap: 6px;
}

footer a {
  color: var(--fg);
  display: inline-flex;
  align-items: center;
}

footer i {
  font-size: 1.5rem;
}

footer hr {
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--fg);
  margin: 1em 0;
  padding: 0;
}
