.home {
  display: flex;
  flex-direction: column;
}

.home .intro {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-self: center;
  align-items: center;

  font-size: 1.3rem;

  gap: 48px;
  padding-bottom: 64px;
}

.home .intro img {
  border-radius: 50%;
}
