.resume-container {
  display: flex;
  flex-direction: column;

  align-self: center;
  width: 1200px;
}

.resume-actions {
  padding: 16px;
  font-weight: bold;
}

.resume {
  display: flex;
  flex-direction: column;
  align-self: center;

  border: 1px solid var(--fg);
}

.resume img {
  border-radius: 50%;
}

.resume hr {
  height: 1px;
  width: 80%;
  align-self: center;

  margin: 1em 0;
  padding: 0;

  border: none;
  border-top-color: var(--fg);
  border-top-style: solid;
  border-top-width: 1px;
}

.resume hr.primary {
  border-top-width: 4px;
}

.resume .header {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 32px;
  gap: 32px;
}

.resume .header .left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.resume .header .right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  flex: 1;
}

.resume .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.resume .info h1.name {
  font-weight: bold;
  line-height: 1.3;
  font-size: 2rem;
}

.resume .section {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}

.resume .section h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  align-self: center;
}

.resume .section .links {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 24px;
  padding: 16px;
}

.resume .entry {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resume .entry .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.resume .entry .header .position {
  display: flex;
  flex-direction: column;
}

.resume .entry .bullet-points {
}
