package main

templ about(workExperience []ExperienceEntry, schoolExperience []ExperienceEntry) {
	@header("Adrien's blog")
	<body>
		@navbar()
		<div class="body-main">
			<h1>About </h1>
			@resume(workExperience, schoolExperience)
		</div>
		@footer()
	</body>
}
