package main

templ article(title string, description string, stringifiedHTML string, formattedDate string, scriptTags []string,
	styleTags []string) {
	@Base(title, description, styleTags, scriptTags) {
		<div class="article">
			@templ.Raw(stringifiedHTML)
		</div>
	}
}
